<ngx-charts-bar-horizontal *ngIf="ChartType.HORIZONTAL_BAR_CHART == chartType" [view]="view" [scheme]="colorScheme" [results]="data"
  [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></ngx-charts-bar-horizontal>

<ngx-charts-bar-vertical *ngIf="ChartType.CHARTS_BAR_VERTICAL == chartType" [view]="view" [scheme]="colorScheme" [results]="data"
  [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"></ngx-charts-bar-vertical>

<ngx-charts-pie-chart *ngIf="ChartType.PIE_CHART == chartType" [view]="view" [scheme]="colorScheme" [results]="data" [gradient]="gradient"
  [legend]="showLegend"></ngx-charts-pie-chart>

<ngx-charts-line-chart *ngIf="ChartType.LINE_CHART == chartType" 
[view]="view" 
[scheme]="colorScheme" 
[results]="data" 
[gradient]="gradient"
[xAxis]="showXAxis" 
[yAxis]="showYAxis" 
[legend]="showLegend" 
[showXAxisLabel]="showXAxisLabel" 
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel" 
[yAxisLabel]="yAxisLabel" 
[autoScale]="true">
</ngx-charts-line-chart>