<div fxLayout='column'>
  <div fxLayout='row' class="c-app-spend-manager-margin">
    <div fxFlex>
      <div fxLayoutAlign="center">
        <app-spend-desinger (click)="onCloseDialog()"></app-spend-desinger>
      </div>
    </div>
    <div fxFlex>
      <div fxLayoutAlign="center">
      </div>
    </div>
  </div>
  <div fxLayout='row' class="c-app-spend-manager-margin">
    <div fxFlex>
      <div fxLayoutAlign="center">
        <button mat-button (click)="onCloseDialog()">Cancel</button>
      </div>
    </div>
  </div>
</div>