<!-- <app-spend-desinger (click)="onCloseDialog()"></app-spend-desinger> -->
<div fxLayout='column'>
  <div fxLayout='row' class="c-app-dialog-manager-margin">
    <div fxFlex>
      <div fxLayoutAlign="center">
        <button mat-raised-button color="primary" (click)="openSpendsManager()">Manage a spends</button>
      </div>
    </div>
    <div fxFlex>
      <div fxLayoutAlign="center">
        <button mat-raised-button color="primary" (click)="openCategoriesManager()">Manage a categories</button>
      </div>
    </div>
  </div>
  <div fxLayout='row' class="c-app-dialog-manager-margin">
    <div fxFlex>
      <div fxLayoutAlign="center">
        <button mat-button>Cancel</button>
      </div>
    </div>
  </div>
</div>